<form [formGroup]="addNewUserForm" class="popup-card-width add-new-user">
    <div>
        <h2 mat-dialog-title>Add New User</h2>
    </div>
    <mat-dialog-content class="mb-4">
        <div>
            <div>
                <mat-form-field class="w-100">
                    <input matInput type="text" formControlName="UserName" class="form-control" placeholder="UserName" autocomplete="off">
                    <mat-error *ngIf="addNewUserForm.controls['UserName'].touched && !addNewUserForm.controls['UserName'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['UserName'].hasError('required')" class="required alert-error">
                            You must include a UserName.
                        </mat-error>
                        <mat-error *ngIf="addNewUserForm.controls['UserName'].hasError('minLength(4)')" class="required alert-error">
                            You must Write a UserName longer than 4 characteres.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="text" formControlName="FullName" class="form-control" placeholder="Full Name" autocomplete="off">
                    <mat-error *ngIf="addNewUserForm.controls['FullName'].touched && !addNewUserForm.controls['FullName'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['FullName'].hasError('required')" class="required alert-error">
                            You must include a Name.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="text" formControlName="PhoneNumber" class="form-control" placeholder="Phone Number" autocomplete="off" maxlength="12">
                    <mat-error *ngIf="addNewUserForm.controls['PhoneNumber'].touched && !addNewUserForm.controls['PhoneNumber'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['PhoneNumber'].hasError('required')" class="required alert-error">
                            You must include a Name.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="text" formControlName="Email" class="form-control" placeholder="Email" autocomplete="off">
                    <mat-error *ngIf="addNewUserForm.controls['Email'].touched && !addNewUserForm.controls['Email'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['Email'].hasError('required')" class="required alert-error">
                            You must include a E-mail Address.
                        </mat-error>
                        <mat-error *ngIf="addNewUserForm.controls['Email'].hasError('pattern')">
                            E-mail must be valid
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- <div formGroupName="Passwords"> -->
                <mat-form-field class="w-100">
                    <input matInput type="password" formControlName="Password" class="form-control" placeholder="Password" autocomplete="off">
                    <mat-error *ngIf="addNewUserForm.controls['Password'].touched && !addNewUserForm.controls['Password'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['Password'].hasError('required')" class="required alert-error">
                            You must include a Password.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="password" formControlName="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" autocomplete="off">
                    <mat-error *ngIf="addNewUserForm.controls['ConfirmPassword'].touched && !addNewUserForm.controls['ConfirmPassword'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['ConfirmPassword'].hasError('required')" class="required alert-error">
                            You must include a ConfirmPassword.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <!-- </div> -->

                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------------------------------------------------------- -->
                <mat-form-field class="w-100">
                    <select matNativeControl formControlName="Gender" placeholder="Gender">
					  <option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
                    <mat-error *ngIf="addNewUserForm.controls['Gender'].touched && !addNewUserForm.controls['Gender'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['Gender'].hasError('required')" class="required alert-error">
                            You must Select a Gender.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <select matNativeControl formControlName="accessType" placeholder="Access Type">
                  <option value="SuperAdmin">Super Admin</option>
						<option value="ClubAdmin">Club Admin</option>
						<option value="Client">Client</option>
					</select>
                    <mat-error *ngIf="addNewUserForm.controls['accessType'].touched && !addNewUserForm.controls['accessType'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['accessType'].hasError('required')" class="required alert-error">
                            You must Select a Access Type.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="m-0">
        <button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">CLOSE</button>
        <button (click)="onFormSubmit()" type="submit" [disabled]="!addNewUserForm.valid" mat-raised-button color="warn">SUBMIT</button>
    </mat-dialog-actions>
</form>
<!-- add-new-user -->