<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-secondary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-secondary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-secondary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-secondary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
            </div>

        </div>
    </div>
</div>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)" (eventTimesChanged)="eventTimesChanged($event)">

    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (hourSegmentClicked)="HourClicked($event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>

</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br />

<button *ngIf="accountservice.getPayload().role == 'Client'" class="btn btn-secondary" [routerLink]="['/account/order-history']">
    View History
</button>
<!-- <button *ngIf="accountservice.getPayload().role == 'SuperAdmin'" class="btn btn-secondary" [routerLink]="['/account/order-history']">
    View History
</button>
<button *ngIf="accountservice.getPayload().role == 'ClubAdmin'" class="btn btn-secondary" [routerLink]="['/account/order-history']">
    View History
</button> -->