<button mat-mini-fab *ngIf="!accountService.loginStatus" [routerLink]="['/session/signup']">
  <i class="material-icons notranslate">
    create
  </i>
</button>

<button mat-mini-fab *ngIf="!accountService.loginStatus" [routerLink]="['/session/signin']">
  <i class="material-icons notranslate">
    input
  </i>
</button>


<button mat-mini-fab class="log-in-user" *ngIf="accountService.loginStatus" [matMenuTriggerFor]="loginuser">
  <img src="assets/images/log-in-user.jpg" width="250" height="250" alt="log-in-user">
</button>
<mat-menu #loginuser="matMenu">
    <button mat-menu-item fxLayoutAlign="start center" (click)="redirectuser()"><i
      class="material-icons mr-1">account_circle</i> <span>Profile</span>
  </button>
    <button mat-menu-item [routerLink]="['/account/profile']"><i
      class="material-icons mr-1">settings</i><span>Account</span></button>
    <button mat-menu-item [routerLink]="['/account/profile']"> <i class="material-icons mr-1">local_post_office</i>
    <span>Messages</span></button>
    <button mat-menu-item (click)="logOut()"><i
      class="material-icons mr-1">power_settings_new</i><span>Logout</span></button>
</mat-menu>